<div class="grid-container">
  <!-- Columna izquierda: Controles -->
  <div class="controls-column">
    <p>Orden de los gatos:</p>
    <div class="card flex justify-center">
      <p-selectbutton
        [options]="stateOptions"
        [(ngModel)]="order"
        optionLabel="label"
        optionValue="value"
        aria-labelledby="basic"
      />
    </div>

    <p>¿Quieres información de las razas?</p>
    <div class="card flex justify-center gap-2">
      <p-button
        label="Si"
        (click)="changeSiRazas(1)"
        [disabled]="tieneRaza === 1"
      />
      <p-button
        label="No"
        (click)="changeSiRazas(0)"
        [disabled]="tieneRaza === 0"
      />
    </div>

    <div class="card flex justify-center">
      <form [formGroup]="catForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
          <label for="integeronly" class="mb-2"
            >Número de gatos que quieres:</label
          >
          <p-inputnumber
            inputId="integeronly"
            formControlName="limit"
            pTooltip="Ingresa un número entre 1 y 100"
            tooltipPosition="right"
            class="w-full"
          ></p-inputnumber>
          @if(catForm.get('limit')?.hasError('required')){
            <p-message
            class=""
            severity="error"
            text="El campo es obligatorio"
          ></p-message>
          }
          @else if(catForm.get('limit')?.invalid) {
          <p-message
            class=""
            severity="error"
            text="El campo debe ser un numero entre 1 y 100"
          ></p-message
          >}
        </div>
        <p-button
          label="Enviar"
          type="submit"
          [disabled]="!catForm.valid"
        ></p-button>
      </form>
    </div>
  </div>

  <!-- Columna derecha: Lista de gatos -->
  @if (isLoading) {
  <div class="loading-container">
    <p-progress-spinner ariaLabel="loading" />
  </div>
  }

  <div class="cats-container">
    @for (cat of cats; track cat.id) {
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
        <img
          [src]="cat.url"
          alt="Cat id: {{ cat.id }}"
          class="w-full h-64 object-cover"
          width="400"
          height="400"
        />
      </ng-template>
      @for (breed of cat.breeds; track breed.id) {
      <ng-template #title> {{ breed.name }} </ng-template>
      <ng-template #subtitle>
        <a
          [href]="breed.wikipedia_url"
          target="_blank"
          class="text-blue-500 underline"
        >
          Wikipedia
        </a>
      </ng-template>
      <p>{{ breed.description }}</p>
      }
    </p-card>
    }
  </div>
</div>
