<footer>
  <article><p>The Cat API</p></article>
  <article>
    <ul>
      <li>
        <a href="https://thecatapi.com/" target="_blank" matTooltip="API">
          <i class="bi bi-gear-fill"></i>
        </a>
      </li>
      <li>
        <a
          href="https://thecatapi.com/#pricing"
          target="_blank"
          matTooltip="Apoya a la API"
        >
          <i class="bi bi-currency-euro"></i>
        </a>
      </li>
      <li>
        <a
          href="https://developers.thecatapi.com/view-account/ylX4blBYT9FaoVd6OhvR?report=bOoHBz-8t"
          target="_blank"
          matTooltip="API Docs"
        >
          <i class="bi bi-filetype-doc"></i>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/DanielPA04"
          target="_blank"
          matTooltip="Mi GitHub"
        >
          <i class="bi bi-github"></i>
        </a>
      </li>
    </ul>
  </article>
</footer>
