<table mat-table [dataSource]="breeds" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Temperament Column -->
  <ng-container matColumnDef="temperament">
    <th mat-header-cell *matHeaderCellDef>Temperamento</th>
    <td mat-cell *matCellDef="let element">
      {{ element.temperament | trim : 40 }}
    </td>
  </ng-container>

  <!-- Origin Column -->
  <ng-container matColumnDef="origin">
    <th mat-header-cell *matHeaderCellDef>Origen</th>
    <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Descripcion</th>
    <td mat-cell *matCellDef="let element">
      {{ element.description | trim : 50 }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

@if (!isLoading && breeds.length == 0 ){
<div style="display: flex; justify-content: center">
  <p>ERROR, no se ha podido cargar la tabla</p>
</div>
}

<div style="display: flex; justify-content: center">
  @if (isLoading){
  <mat-spinner></mat-spinner>
  }
</div>

<div style="display: flex; flex-direction: column; align-items: center">
  <div>
    <button mat-stroked-button (click)="sendMessage(-1)" [disabled]="page == 0">
      Anterior
    </button>
    <button mat-stroked-button (click)="sendMessage(1)">Siguiente</button>
  </div>

  <p>{{ page + 1 }}</p>
</div>

<br />

<form>
  <article style="display: flex; flex-direction: column; align-items: center">
    <mat-form-field>
      <mat-label>Selecciona raza</mat-label>
      <mat-select
        (selectionChange)="get()"
        [(ngModel)]="selectedBreed"
        name="breed"
        [disabled]="isLoading"
      >
        @for (breed of breeds; track breed.id) {
        <mat-option [value]="breed.id">{{ breed.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <p>Selected Breed: {{ selectedBreed }}</p>
    <button
      mat-raised-button
      (click)="openDialog()"
      [disabled]="!selectedBreed"
    >
      Más info
    </button>
  </article>

  <article>
    <h3>Cat:</h3>
    @for (cat of cats; track cat.id) {
    <img [src]="cat.url" alt="cat.name" height="200px" width="200px" />
    }
  </article>
</form>
