section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
        margin-bottom: 20px;
    }

    p{
        font-size: 20px;
        font-weight: bold;
    }
}